.arrowContainer{
    margin-top: 2%;
}
.suggestion{
}

.thumbnail:hover{
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.infoLabel{
    text-align: right;
}

.infoText{
    line-height: 100%;
}

#frame{
    position: relative;
}
#suggestionRow{
    margin-top: 20px;
    margin-bottom: 20px;
}

#btnContact{
    width: 20%;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

#contactButtonDiv{
    position: absolute;
    bottom: 10px;
}

.outline{
    border-style: solid;
    width: 100%;
    height: 100%;
}
#businessIcon{
}

#infoContainer{
    margin-top: 10px;
}

#businessName{
    text-align: center;
}

.arrow{
    height: 100%;
    font-size: 20pt;
}

#messageRow{
    border-style: solid;
    position: fixed;
    right: 15px;
    bottom: 0;
}

#messageHeader{
    width: 100%;
    height: 10%;
    margin-left: 0px;
    top: 0px;
    background-color: black;
    color: white;
    font-size: 20px;
}

#recipientsContainer{
    position: absolute;
    left: 33px;
    top: 2px;
    width: 90%;
}

#recipients{
    width: 80%;
}

.minimizedMessage{
    height: 40px;
    width: 600px;
    color: white;
    background-color: black;
}

#messageBody{
    background-color: white;
    height: 100%;
}

#icons{
    position: fixed;
    right: 10px;
}

.maximizedMessage{
    height:75%;
    width: 50%;
}

#btnAdd{
    display: inline-block;
    margin-left: -25px;
}

.icon:hover{
    background-color: grey;
}
