.title{
    text-align: center;
}
.hero-unit{
    margin-top: 10px;
    padding: 20px;
    margin-bottom: 0px;
}
.arrowContainer{
    margin-top: 2%;
}

.suggestion{
}

.thumbnail{
    background-color: white;
}
.thumbnail:hover{
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.infoLabel{
    text-align: right;
}

.infoText{
}

#frame, #firstFrame{
    position: relative;
    display: block;
    float: none;
    margin: 0 auto;
}
#suggestionRow{
    margin-top: 20px;
    margin-bottom: 20px;
}

.outline{
    border-style: solid;
    width: 100%;
    height: 100%;
}
#businessHeader{
}

#infoContainer{
    margin-top: 10px;
}

#businessName{
    text-align: center;
}

.arrow{
    height: 100%;
    font-size: 20pt;
}


#messageHeader{
    width: 100%;
    height: auto;
    margin-left: 0px;
    top: 0px;
    background-color: #3e6b85;
    color: white;
    font-size: 20px;
}

#recipientsContainer{
    position: absolute;
    left: 10px;
    top: 2px;
    width: 90%;
}

#recipients{
    width: 80%;
}

.minimizedMessage{
    height: 40px;
    width: 600px;
    color: white;
    background-color: #3e6b85;
}

#messageBody{
    background-color: #eeeeee;
    height: 100%;
}

#icons{
    position: absolute;
    right: 5px;
}

.maximizedMessage{
    height:75%;
    width: 40%;
}

.icon:hover{
    background-color: grey;
}

#btnPrevious,
#btnNext{
    cursor: hand;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#resize{
    position: absolute;
    z-index: 1;
    width: 99%;
    margin-left: 1%;
}

.container{
    width: 100% !important;
}

#messageRow{
    position: absolute;
    z-index: 1;
    right: 0px;
    width: 25%;
    min-height: 100%;
    top: 55px;
}

html, body{
}

#messageForm{
    width: 90%;
    margin: 0 auto;
}

#recipientRow{
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}
td {
  padding-bottom: 13px;
}


.recipient{
    padding: 3px;
    margin-right: 5px;
    margin-bottom: 10px;
    color: #3e6b85;
    background-color: #eeeeee;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
