body{
	background: url(../img/background_graphic_shadow.png) no-repeat center center fixed,
				url(../img/background_tile.png) repeat;
}


.navbtn{
    width: 110px;
    bottom: 40px;
    position: fixed;
}

#btnCreate{
    position: relative;
    top: -50;
    //right: 50%;
    //margin-right: -7px;
}
#btnMyEvents{
    left: 50%;
    margin-left: 12px;
}

/* The white background content wrapper */
.content {
    position: absolute;
    right: 20px;
    width: 510px;
    background-color: #fff;
    padding: 20px;
    -webkit-border-radius: 10px 10px 10px 10px;
       -moz-border-radius: 10px 10px 10px 10px;
            border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.forms{
    width: auto;
    margin: 0 auto;
    overflow: auto;
}
.login-form {
    float: left;
    padding-right: 20px;
}

.create-form{
    border-left: solid;
    padding-left: 20px;
    float: left;
    
}

#btnAccount{
   cursor: hand;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

legend {
    margin-right: -50px;
    font-weight: bold;
    color: #404040;
}
