body, input {
    //font-family: "Tangerine", "Arial";
   //margin: 0px;
}

h1 {
    margin: 0 0 0 20px;
}

html, body, #container {
    height: 100%;
    padding: 0;
    background: url(../img/flowers.jpg) no-repeat 100% !important;
}

body > #container {
    height: auto;
    min-height: 100%;
    color: #D9A13B;
}

.category {
    border: 2px solid black;
    margin-bottom: 2em;
    height: 10em;
    overflow: scroll;
    padding: 5px;
    background-color: white;
}

h1, h2, h3, h4 {
    color: rgb(62, 107, 133) !important;
    text-align: center;
    margin-top: 1em !important;
    margin-bottom: .5em !important;
}

h5, h6 {
    color: rgb(62, 107, 113) !important;
    display: inline !important;
}

button {
    width: 100%;
    height: 1em;
    padding: 0;
    margin: 0 20;
}

.message {
    border-bottom: 1px solid black;
    color: rgb(62, 107, 133) !important;
    height: 1.5em;
    font-size: 1em;
}

.container-button {
    margin-left: .3em;
    height: 1.5em;
    width: 30%;
    text-align: center;
}

.container-label {
    display: inline-block;
}

#tabs {
    margin: 30px;
    margin-top: 40px;
    opacity: 0.85;
    height: 100% !important;
   // background: white;
}

// Styling for tabs

body {
    font-weight: bolder;
}

.ui-widget-content {
  //  border: none !important;
}

.ui-tabs .ui-tabs-nav {
//    margin-left: 6.5em !important;
}

.ui-tabs .ui-tabs-panel {
    padding: 0 1.4em !important;
}

.ui-tabs .ui-tabs-nav li {
    margin: 1px .5em 0 0 !important;
    padding: 0 !important;
}

.ui-tabs {
   // padding: 0 !important;
}

.ui-widget-header {
    border: none !important;
    //border-bottom: 1px solid black !important;
    //background: none !important;
}

#tabs-list {
    //font-size: 1.3em;
    font-weight: bolder;
    //display: inline;
   // margin: 0 auto !important;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr, .ui-corner-br {
    //border-top-right-radius: 0px !important;
    //border-bottom-right-radius: 0px !important;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl, .ui-corner-bl {
    //border-top-left-radius: 0px !important;
    //border-bottom-left-radius: 0px !important;
}

#tab-header {
    text-align: center;
    padding: 1.5em;
}

#tab-header-words {
    //font-size: 1.4em;
    font-weight: bolder;
    font-style: oblique;
}

.tab-title {
    font-family: "Mathlete-Bulky";
    src: url("../fonts/Mathlete-Bulky.otf") format("opentype");
    line-height: 1.5em !important;
    font-weight: bolder !important;
    font-size: 2em;
    letter-spacing: .03em;
    padding-top: .05em !important;
    padding-bottom: .05em !important;
    padding-left: .5em !important;
    padding-right: .5em !important;
}

.box {
    border: 1px solid black;
    height: 40%;
    width: 100%;
    margin: 15px;
}

.centered {
    text-align: center;
}

#wordcloud-image {
    width: 1056 !important;
    height: 660 !important;
   //width: 100%;
   //height: 100%;
    //margin-left: 100px !important;
   // overflow: hidden !important;
    //border: none !important;
    //z-index: 999;
}

.hero-unit {
    margin-top: 3.5em !important;
}

.thread {
    border-bottom: 1px solid black;
    height: 3em;
    overflow: hidden;
    margin-left: 4px;
}

.thread-checkbox {
    vertical-align: center;
}

.thread-table {
    font-size: .9em;
    line-height: 1.3em;
}

.splitpane {
    border: 1px solid black;
    overflow-y: scroll;
    height: 15em;
    background-color: white !important;
}

#wordcloud {
    width: 100%;
    height: 100%;
}

.pane-container {
    margin: 10px;
    background-color: white !important;
}

#feedback { 
    font-size: 1.4em;
}

#selectable .ui-selecting {
    background: #FECA40;
}

#selectable .ui-selected { 
    background: #F39814;
    color: white; 
}

#selectable { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 90%; 
}

#selectable li {
    margin: 3px;
    padding: 0.4em;
    font-size: 1.4em;
    height: 18px;
}



