body, input {
    //font-family: "Tangerine", "Arial";
   //margin: 0px;
}

h1 {
    margin: 0 0 0 20px;
}

html, body, #container {
    height: 100%;
    padding: 0;
    background: url(../img/flowers.jpg) no-repeat 100% !important;
}

/*
#background .stretch-image {
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: url(https://a1.lscdn.net/imgs/689d624f-ebcb-441c-85c3-a0be9656e0e9/original_q60.jpg) center center fixed !important;
}
*/

body > #container {
    height: auto;
    min-height: 100%;
    color: #D9A13B;
}

.category {
    border: 2px solid black;
    margin-bottom: 2em;
    height: 10em;
    overflow: scroll;
    padding: 5px;
    background-color: white;
}

h1, h2, h3, h4 {
    color: rgb(62, 107, 133) !important;
    text-align: center;
    margin-top: 1em !important;
    margin-bottom: .5em !important;
}

h5, h6 {
    color: rgb(62, 107, 113) !important;
    display: inline !important;
}

button {
    width: 100%;
    height: 1em;
    padding: 0;
    margin: 0 20;
}

.message {
    border-bottom: 1px solid black;
    color: rgb(62, 107, 133) !important;
    height: 1.5em;
    font-size: 1em;
}

.container-button {
    margin-left: .3em;
    height: 1.5em;
    width: 30%;
    text-align: center;
}

.container-label {
    display: inline-block;
}

#tabs {
    margin: 30px;
    margin-top: 40px;
    opacity: 0.85;
    height: 100% !important;
   // background: white;
}

// Styling for tabs

body {
    font-weight: bolder;
}

.ui-widget-content {
  //  border: none !important;
}

.ui-tabs .ui-tabs-nav {
//    margin-left: 6.5em !important;
}

.ui-tabs .ui-tabs-panel {
    padding: 0 1.4em !important;
}

.ui-tabs .ui-tabs-nav li {
    margin: 1px .5em 0 0 !important;
    padding: 0 !important;
}

.ui-tabs {
   // padding: 0 !important;
}

.ui-widget-header {
    border: none !important;
    //border-bottom: 1px solid black !important;
    //background: none !important;
}

#tabs-list {
    //font-size: 1.3em;
    font-weight: bolder;
    //display: inline;
   // margin: 0 auto !important;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr, .ui-corner-br {
    //border-top-right-radius: 0px !important;
    //border-bottom-right-radius: 0px !important;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl, .ui-corner-bl {
    //border-top-left-radius: 0px !important;
    //border-bottom-left-radius: 0px !important;
}

#tab-header {
    text-align: center;
    padding: 1.5em;
}

#tab-header-words {
    //font-size: 1.4em;
    font-weight: bolder;
    font-style: oblique;
}

.tab-title {
    font-family: "Mathlete-Bulky";
    src: url("../fonts/Mathlete-Bulky.otf") format("opentype");
    line-height: 1.5em !important;
    font-weight: bolder !important;
    font-size: 2em;
    letter-spacing: .03em;
    padding-top: .05em !important;
    padding-bottom: .05em !important;
    padding-left: .5em !important;
    padding-right: .5em !important;
}

.box {
    border: 1px solid black;
    height: 40%;
    width: 100%;
    margin: 15px;
}

.centered {
    text-align: center;
}

#wordcloud-image {
    width: 1056 !important;
    height: 660 !important;
}

.hero-unit {
    margin-top: 3.5em !important;
}

.thread {
    border-bottom: 1px solid black;
    height: 3em;
    overflow: hidden;
    margin-left: 4px;
}

.thread-checkbox {
    vertical-align: center;
}

.thread-table {
    font-size: .9em;
    line-height: 1.3em;
}

.splitpane {
    border: 1px solid black;
    overflow-y: scroll;
    height: 15em;
    background-color: white !important;
}

#wordcloud {
    width: 100%;
    height: 100%;
}

.pane-container {
    margin: 10px;
    background-color: white !important;
}

#feedback { 
    font-size: 1.4em;
}

.selectable .ui-selecting {
    background: #FECA40;
}

.selectable .ui-selected { 
    background: #F39814;
    color: white; 
}

.selectable { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%; 
}

.selectable li {
    margin: 4px;
    padding: 0.4em;
    padding-top: 0;
    font-size: .8em;
    letter-spacing: -.03em;
    word-spacing: -.03em;
    height: 3em;
    border-radius: 10px !important;
}


#wordcloud-image {
    width: 1056px !important;
    height: 660px !important;
    margin-left: 100px !important;
    overflow: hidden !important;
    //overflow: hidden !important;
    border: 1px solid black !important;
    background-color: white !important;
}

#wordcloud-container {
    z-index: 999 !important;
    opacity: 1 !important;
    background-color: white !important;
}

.simple-overlay {
    display: none;
    z-index: 9999;
    background-color: #333;
    width: 1056px;
    height 660px;
    border: 1px solid #666;
}

.thread-table {
    text-align: center;
}

.min-thread-business {
}

.min-thread-date {
}

.min-thread-event {
}

.thread-header {
}

.thread-date {
    //float: right;
    text-align: right;
    font-style: oblique;
}

.thread-business {
    font-weight: bold;
}

.thread-event {
    text-align: center;
    margin-top: -.6em;
}

.event-label {
    text-align: center;
    text-decoration: underline;
}

.message-content {
    margin: 20px;
    font-family: serif;
}

ul {
    list-style-type: none;
}

#temp-display {
    margin-top: 100px;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
}



//////////////////////////////


.charity_icon, .event_icon, .donation_icon{
    margin: .5%;
    padding: 1%;
}


.pane_label{
    text-align: left;
    vertical-align: top;
    padding: .3em;
    color: #3e6b85;
}

.pane{
    opacity: 1;
}

#charity_icons, #event_icons, 
#donation_icons{
    position: absolute;
    width: 50%;
}

.log_icon{
    width:35%;
}

#logistics_icons{
    display: table-row;
    display: none;
    position: absolute;
    width: 50%;
}

#logs{
    width: 100%;
    text-align: center;
    overflow: scroll;
}

#loc_icon{
    display: inline-block;
    background-image: url(../img/city_sign.png);
    background-size:100%;
    margin:0;
    padding:0;
    vertical-align: middle;
    height: 100%;
}

#loc_label, #date_label{
    display: table-cell;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: .8em;
}

#date_label{
    display: table-cell;
    vertical-align: bottom;
    font-family: sans-serif;
    font-size: .8em;
    line-height: 1.3em;
    font-size: 1.1em;
}

#date_icon{
    display: inline-block;
    background-image: url(../img/cal_icon2.png);
    background-size:100%;
    margin: 1%;
    padding: 1%;
    vertical-align: middle;
}

#charity_pane{
    border-top-style: none;
    border-left-style: none;
    border-right: 2px solid #3e6b85;
    border-bottom: 2px solid #3e6b85;
    width: 50%;
    vertical-align: top;
    height: 6em;
}

#logistics_pane{
    border-bottom: 2px solid #3e6b85;
    width: 50%;
    vertical-align: top;
}

#event_pane{
    border-right: 2px solid #3e6b85;
    vertical-align: top;
    height: 6em;
}

#donations_pane{
    vertical-align: top;
}

#eventFrame{
    margin: 0;
    //border-style: solid;
    text-align: center;
    font-size: 20px;
    position: relative;
    //background-color: #FFFFFF;
}

#eventTable{
    position:absolute;
    width: 100%;
    table-layout: fixed;
    //border: 3px solid red;
}

#eventTable tr {
    width: 50% !important;
    height: 50px !important;
}
    

#logistics{
    background-color: #FFFFFF;
    margin-top: 0;
    border-style: solid;
    margin-left: 0;
}

/*
<div class="span6" id="eventFrame">
                <div id="help_overlay"> Your event details will appear here </div>
                <table id="eventTable">
                    <tr>
                        <td id="charity_pane" class="pane">
                            <div class="pane_label">Charity</div>
                            <div id="charity_icons"></div>
                        </td>
                        <td id="logistics_pane" class="pane">
                            <div class="pane_label">Logistics</div>
                            <div id="logistics_icons">
                                <div id="date_icon" class="log_icon">
                                    <div id ="date_label"></div>
                                </div>
                                <div id="loc_icon" class="log_icon">
                                    <div id="loc_label">Welcome To</div>
                                </div>
                            </div>
                        </td>
                        
                    </tr>
                    <tr>
                        <td id="event_pane" class="pane">
                            <div class="pane_label">Event</div>
                            <div id="event_icons"></div>
                        </td>
                        <td id="donations_pane" class="pane">
                            <div class="pane_label">Donations</div>
                            <div id="donation_icons"></div>
                        </td>
                    </tr>
                </table>
            </div>

