@font-face{
    font-family: "Mathlete-Bulky";
    src: url("../fonts/Mathlete-Bulky.otf") format("opentype");
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn{
    font-family: sans-serif !important;
}

body{
    font-family:serif !important;
    background: url(../img/background_tile.png) repeat;
}

.navbar{
    font-family: "Mathlete-Bulky";
}

.navbar-inner{
    padding-top: 1em !important;
    margin-bottom: 1em;
}

.brand{
    font-size: 64pt !important; 
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000 !important;
    letter-spacing: .03em;
}

.box{
    margin-top: 50px;
    border-style: solid;
    text-align: center;
    font-size: 20px;
}
