@font-face{
    font-family: "Mathlete-Bulky";
    src: url("../fonts/Mathlete-Bulky.otf") format("opentype");
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: sans-serif !important;
}

body{
    font-family:serif !important;
}

.navbar{
    font-family: "Mathlete-Bulky";
}

.navbar-inner{
    padding-top: 1em !important;
    margin-bottom: 1em;
}

.brand{
    font-size: 64pt !important; 
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000 !important;
    letter-spacing: .03em;
}

.box{
    margin-top: 50px;
    border-style: solid;
    text-align: center;
    font-size: 20px;
}
.title{
    margin-top: 30px;
    text-align: center;
    font-family: 'Sanchez';
    font-size: 30pt;
}

.choice{
    margin:5px;
    width: 23%;
}

.choice_label{
    text-align: center;
    word-wrap: break-word;
    font-size: .75em;
    line-height: 1em;
}

#progressBar{
    margin-top: 20px;
}

#task1, #task2, #task3, #task4{
    padding: 0px;
    margin: 0px !important;
    width: 23%;
    display: inline-block;
    text-align: center;
    border-style: solid;
}

#btnPrevSpan{
    margin-left: 0;
}

#btnNextSpan{
    margin-left: 1.85em;
}

#btnPrev{
    float: left;
}

#btnNext{
    float: right;
}

#helperTitle{
    margin-left: 0;
    text-align: left
}

#choicesTitle{
    margin-left: 1.5em;
    text-align: left;
}

#eventFrame{
    margin-top: 0;
    margin-left: 0;
    border-style: solid;
    text-align: center;
    font-size: 20px;
    position: relative;
}

#choicesFrame{
    margin-top: 0;
    margin-left: 1em;
    border-style: solid;
    overflow: scroll;
}

#choicesList .ui-selecting {
    background: #FECA40;
}

#choicesList .ui-selected {
    background: #F39814;
    color: white;
}

#choicesList{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#choicesList li {
    margin: 1.75%;
    padding: 2.5%;
    float: left;
    width: 40%;
    height: 40%;
    background: #feedbf;
    border: solid;
    border-width: .1em;
    border-radius: 5%;
    border-color: #a87b03;
}

#help_overlay {
    text-align: center;
    font-size: 2em;
    opacity: .4;
    position: absolute;
    top: 40%;
    word-wrap: break-word;
    line-height: 1em;
    width: 100%;
}
